html, body {

    font-size: 1.4em;

    margin: 0;
    padding: 0;

}

img {

    max-width: 100%;

}

div.slide {

    height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;

}

div.image-slide img {

    max-height: 80vh;

}
