html, body {

    font-size: 1.4em;

    margin: 0;
    padding: 0;

    --slide-padding: 10px;

}

img {

    max-width: 100%;

}

div.slide {

    position: relative;
    height: 100vh;
    margin: 0;
    padding: var(--slide-padding);
    box-sizing: border-box;

    background-size: cover;

}

#popup-area {

    display: inline-block;

    position: fixed;
    bottom: 20px;
    right: 20px;

    z-index: 10;

}

div.popup {

    display: inline-block;
    padding: 8px 12px;
    margin: 10px 8px;

    background: #fff;
    box-shadow: #000a 0 0 10px;
    border-radius: 5px;

}

div.top {

    position: absolute;
    left: var(--slide-padding);
    right: var(--slide-padding);
    top: var(--slide-padding);

}

div.bottom {

    position: absolute;
    left: var(--slide-padding);
    right: var(--slide-padding);
    bottom: var(--slide-padding);

}

div.left {

    float: left;
    text-align: left;

}

div.right {

    float: right;
    text-align: right;

}

div.image-slide img {

    max-height: 80vh;

}
